body{
    background-image: url(./portfolio-background-4-1024x480.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
img{
    float: right;
    width: 300px;
    height: 300px;

    
}
h1{
    text-align: center;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif; 
}
h2{
    text-align: center;
    line-height: 10px;
    font-size: 25px;
    font-style: oblique;
}
p{
    text-align: left;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    font-family:'Times New Roman', Times, serif;
    font-weight: 100px;
    text-align: center;

}
p{
    line-height: 50px;
    margin-left: 300px;
    padding-left: 50px;
    padding-right: 50px;
    border: 5px solid;
    border-color:black;
    border-radius: 20px;
    display: inline-block;
    width: 600px;
    height: 400px;
}
h4{
    font-size: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style:none;
    list-style-position:unset;
    border: 10px solid none;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 25px; 
    font-family:Arial, Helvetica, sans-serif;
    line-height: 40px;
    
}
h5{
    font-size: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table,th,td{
    font-size: 20px;
    text-align: center;
    height: 100px;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 350px;
    margin-right: 400px;
    line-height: 45px;
    border: 5px solid black;
    border-collapse: collapse;
}
h6{
    font-size: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#h6new{
    font-size: 15px;
    text-align: left;
    line-height: 30px;
}
#h62{
    font-size: 15px;
    text-align: left;
    line-height: 30px;
}
#h61{
    font-size: 15px;
    text-align: left;
    line-height: 30px;
}
li{
    font-size: 20px;
}


