h1{
    font-style:normal;
    font: weight 600px;
    text-align: center;
}
h2{
    font-style:normal;
    font-size: medium;
    font-weight: 400px;
}
h4{
    font-weight: 500px;
}
h5{
    font-weight: 500px;
    font-size: medium;
}
h6{
    font-weight: 500px;
    font-size: medium;
}
p{
    font-style: medium;
    font-weight: 500px;
}
